################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Woolworths.Groot.SmartSearch/.vs
/Woolworths.Groot.SmartSearch/Woolworths.Groot.SmartSearch/Properties
