<div>
    <h1>smart-search works!</h1>
    <input type="text" [(ngModel)]="searchText" [(ngModel)]="autocompleteSearchResult" (keypress)="handlekeypress($event)" [ngbTypeahead]="search" />
    <select name="searchType" id="searchType" [(ngModel)]="searchType">
      <option value="fullText">Full Text</option>
      <option value="fuzzy">Fuzzy</option>
      <option value="autocomplete">Autocomplete</option>
      <option value="Mighty">Mighty</option>
    </select>
    <app-fuzzy-search-result
      *ngIf="fuzzySearchResult.length > 0"
      [fuzzySearchResult]="fuzzySearchResult">
    </app-fuzzy-search-result>
    <app-full-text-search-result
        *ngIf="fullTextSearchResult.length > 0"
        [fullTextSearchResult]="fullTextSearchResult">
    </app-full-text-search-result>
</div>
