<div>
    <h1>smart-search works!</h1>
    <div class="m-0">
    <input
      type="text"
      [(ngModel)]="searchText"
      [(ngModel)]="autocompleteSearchResult"
      (keypress)="handlekeypress($event)"
      [ngbTypeahead]="search"
      (selectItem)="itemSelected($event)"
      class="rounded-lg"
    />
    <select name="searchType" id="searchType" [(ngModel)]="searchType" class="rounded-lg">
      <option value="fullText">Full Text</option>
      <option value="fuzzy">Fuzzy</option>
      <option value="autocomplete">Autocomplete</option>
      <option value="Mighty">Mighty</option>
    </select>
  </div>
    <div *ngIf="selectedBrand" class="text-3xl border-solid border-2 my-8 mx-0 inline-block p-2 rounded-lg">
        <span>Selected brand: {{selectedBrand}} </span>
        <a (click)="removeSelectedBrand()" class="hover">
          <svg xmlns="http://www.w3.org/2000/svg" class="inline-block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </a>
    </div>
    <div *ngIf="noResult" class="text-3xl border-solid border-2 my-8 mx-0 inline-block p-2 rounded-lg text-red-600">No result</div>
    <app-fuzzy-search-result
      *ngIf="fuzzySearchResult.length > 0"
      [fuzzySearchResult]="fuzzySearchResult">
    </app-fuzzy-search-result>
    <app-full-text-search-result
        *ngIf="fullTextSearchResult.length > 0"
        [fullTextSearchResult]="fullTextSearchResult">
    </app-full-text-search-result>
</div>
